@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplishblue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
    border: none;
    outline: 1px solid var(--light-gray);
    border-radius: 6px;
    padding: 1em 0.5em;
    margin-bottom: 21px;
    width: 100%;
}

input::placeholder{
    font-weight: 500;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

body {
  background-color: var(--magnolia);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 1200px;
  min-width: 941px;
  background-color: var(--white);
  display: flex;
  margin: 0em 1em 1em;
  justify-content: space-between;
  padding: 1em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.image-container {
    width: 30%;
    background-image: url("http://localhost:5500/images/bg-sidebar-desktop.jpeg");
    background-size: cover;
    background-position: bottom;
    border-radius: 1em;
  }

.form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 3em;
  padding-top: 1.5em;
}
.form-container h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--marine-blue);
  margin-bottom: 8px;
}
.form-container h2 {
  font-size: 18px;
  color: var(--cool-gray);
}
.form-container form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  width: 100%;
  margin-bottom: 3em;
  margin-top: 2.5em;
}

button {
    margin-bottom: 1em;
    align-self: flex-end;
    outline: none;
    cursor: pointer;
    padding: 0.6rem 1.1rem;
    text-align: center;
    font-size: 15px;
    background-color:hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    border:none;
    border-radius:7px;
    text-decoration: none;
}

label{
    margin-bottom: 10px;
    color: var(--marine-blue);
}